<html>
	<head>
		<title>//startr</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
	<body>
		<h1>//startr</h1>
		<p>generate your million dollar startup name</p>
		<div ng-app="">
			<h2>Target Audience</h2>
			<form>
				<input type="checkbox" ng-model="myVar"> Kids
				<p>
				<input type="checkbox" ng-model="myVar2"> Teens
				<p>
				<input type="checkbox" ng-model="myVar3"> Young Adults
				<p>
				<input type="checkbox" ng-model="myVar4"> Adults
				<p>
				<input type="checkbox" ng-model="myVar5"> Elders
			</form>
			<h1 ng-show="myVar">KIDS </h1>
			<h1 ng-show="myVar2">TEENS </h1>

		</div>

		<div ng-app="">
			<h2>Category</h2>
			<form>
				<input type="checkbox" ng-model="1myVar"> Travel
				<p>
				<input type="checkbox" ng-model="1myVar2"> Sports
				<p>
				<input type="checkbox" ng-model="1myVar3"> Finance
				<p>
				<input type="checkbox" ng-model="1myVar4"> Food
				<p>
				<input type="checkbox" ng-model="1myVar5"> Shopping
			</form>
		</div>
	</body>
</html>